<%- include('../components/header.ejs') %>
  <link rel="stylesheet" href="/css/auth.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>

<%- include('../components/nav.ejs') %>

    <% if(error) { %>
        <%- include('../components/notification.ejs') %>
    <% } %>

    <form class="formlogin" action="/auth/login" method="post">
        <div class="control"> <h1> <%= pageTitle %> </h1> </div>

        <div class="control block-cube block-input">
            <input type="email" name="email" class="form-control" placeholder="Email" required />

            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
        </div>

        <div class="control block-cube block-input">
            <input type="password" name="password" class="form-control" placeholder="Password" required />

            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
        </div>

        <div class="control block-cube block-input">
            <input type="checkbox" for="rememberme" id="remember" autofocus>
            <label class="remember-label" for="rememberme" for="remember">Remember Me?<strong id="dots">&nbsp; · · · </strong></label>

            <div class="modify-box">
                <div class="bg-top">
                    <div class="bg-inner"></div>
                </div>
                <div class="bg-right">
                    <div class="bg-inner"></div>
                </div>
                <div class="bg">
                    <div class="bg-inner"></div>
                </div>
            </div>
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <button id="login-submit" type="submit" class="btn block-cube block-cube-hover">
            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
            <div class="text"> Login </div>
        </button>

        <div style="margin-top:30px;margin-bottom:25px">
            <p>
                <a href="/auth/reset-password">Login trouble?</a>
            </p>
            <p style ="margin-top:7px">
                <a href="/auth/register" >Createa new account.</a>
            </p>
            <p style ="margin-top:7px">
                <a href="/auth/resend-email">Resend email confirmation.</a>
            </p>
        </div>
    </form>

<%- include('../components/footer.ejs') %>
    <script src="/js/noti.js"></script>
</body>
</html>