<%- include('../components/header.ejs') %>

<link rel="stylesheet" href="/css/table.css" />

<link rel="stylesheet" href="/css/form.css" />

<link rel="stylesheet" href="/css/noti.css">

<style> 
  #div-social {
    display: none;
  }
</style>
</head>

<%- include('../components/nav.ejs') %>

  <% if(error) { %>
    <%- include('../components/notification.ejs') %>
  <% } %>
<div class="section-header-offset custom-header">
  <h2 class="title section-title" data-name="Account Management">
    Account Management
  </h2>
</div>

<div class="content" style="min-height: 620px;">
  <div class="container">
    <div class="m-container">
      <div class="left-sidebar">
        <div class="profile-card">
          <img id="avatar"
            src="<%= user.avatarUrl %>"
            alt="Profile Image"
          />
          <br /><br />
          <h2><%= user.name %></h2>
          <br>
          <p><%= user.shortDes ? user.shortDes : 'None description' %></p>
          
        </div>
        <br>
      </div>

      <div class="main-content">
        <div class="tabset">
          <!-- Tab 1 -->
          <input type="radio" name="tabset" id="tab1" aria-controls="data" checked />
          <label for="tab1">Account Data</label>
          <!-- Tab 2 -->
          <input type="radio" name="tabset" id="tab2" aria-controls="email" />
          <label for="tab2">Email</label>
          <!-- Tab 3 -->
          <input type="radio" name="tabset" id="tab3" aria-controls="password" />
          <label for="tab3">Password</label>
          <!-- Tab 4 -->
          <input type="radio" name="tabset" id="tab4" aria-controls="avatar" />
          <label for="tab4">Avatar</label>
          <!-- Tab 5 -->
          <input type="radio" name="tabset" id="tab5" aria-controls="bio" />
          <label for="tab5">Bio</label>
          <!-- Tab 6 -->
          <input type="radio" name="tabset" id="tab6" aria-controls="social" />
          <label for="tab6">Social</label>

          <div class="tab-panels">
            <section id="data" class="tab-panel">
              <h1 class="title">Personal Account Data</h1>
              <button class="open-modal" style="background: red; margin-top: -34px;">Delete account</button>
              <div class="table-responsive custom-table-responsive">
                <div class="modal-content hidden-modal">
                  <div class="modal-header">
                    <h3>Confirm delete your account</h3>
                    <button class="close-modal" title="Close">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4>You're going to delete your account permanently, are you sure?</h4>
                    <br>
                    <h4>After delete, there's no way to recover your account.</h4> <br>
                    <form action="/auth/manage/delete" method="post">
                      <input type="hidden" name="userId" value="<%= user._id %>" />
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                      <label for="confirm-delete" class="formbold-form-label" style="text-align: center;">Type <span style="color: red;">"CONFIRMED"</span> to verify.</label>
                      <input type="text" id="confirm-delete" class="formbold-form-input" style="text-align: center;" oninput="confirmed()">
                      <button type="submit" id="btn-delete" style="display: none;" class="formbold-btn-delete">I know what I'm doing and I understand.</button>
                    </form> 
                  </div>
                </div>
                <div class="blur-bg hidden-blur"></div>
              
                <table class="table custom-table" style="text-align: center;">
                  <tr>
                    <th>Account Level</th>
                    <td>
                      <%= user.level %>
                    </td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td><%= user.email %></td>
                  </tr>
                  <tr>
                    <th>Social Media Links</th>
                    <td>
                      <%= user.social.length %>
                    </td>
                  </tr>   
                </table>
              </div>
              <div class="formUpdateUsername">
                <form action="/auth/manage/update-username" method="post">
                  <label class="formbold-form-label" for="name">
                    Username
                    <i class="ri-information-line" title="Please note that you can only change name again after 15 days."></i>
                  </label>
                  <input class="formbold-form-input" type="text" name="name" id="name" required value="<%= user.name %>">
                  <input type="hidden" name="userId" value="<%= user._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit" class="formbold-btn">Update</button>
                </form>
              </div>
            </section>

            <section id="email" class="tab-panel">
              <h1 class="title">Change email</h1>
              <br>
              <h4 id="note" style="display: none;color: green;">Please re-active your account with the new email address after updating email successfully!</h4>
              <br>
              <form action="/auth/manage/update-email" method="post">
                <label for="email" class="formbold-form-label">New email</label>
                <input type="email" class="formbold-form-input" name="email" id="email" required>
                <br>
                <label for="type" class="formbold-form-label">Choose activation type you can use.</label>
                <select name="type" id="type" class="formbold-form-input">
                  <option value="oldEmail" selected>Confirming email address transfer with current email.</option>
                  <option value="newEmail" onselect="note()">I lost my email or no longer have access to my old email.</option>
                </select>
                <input type="hidden" name="oldEMail" value="<%= user.email %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <button type="submit" class="formbold-btn">Send email change confirmation</button>
              </form>
            </section>

            <section id="password" class="tab-panel">
              <h1 class="title">Change password 
                <i class="ri-information-line" title="Please re-login after updating password successfully!"></i>
              </h1>
              <br>
              <form action="/auth/manage/update-password" method="post">
                <div class="formbold-mb-3">
                  <label for="old-password" class="formbold-form-label">Old password</label>
                  <input type="password" name="oldPassword" id="old-password" class="formbold-form-input" required>
                </div>
                <div class="formbold-mb-3">
                    <label for="new-password" class="formbold-form-label">
                      New password
                    <i class="ri-information-line" title="Password length is 8-20 characters and must contain 1 Uppercase, 1 Number, 1 Symbol."></i>
                  </label>
                  <input type="password" name="newPassword" id="new-password" class="formbold-form-input" required>
                </div>
                <div class="formbold-mb-3">
                  <label for="confirm-password" class="formbold-form-label">
                    Confirm password
                    <i class="ri-information-line" title="Must match the new password above."></i>
                  </label>
                  <input type="password" name="confirmPassword" id="confirm-password" class="formbold-form-input" required>
                </div>
                <input type="hidden" name="userId" value="<%= user._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="formbold-btn">Update password</button>
              </form>
            </section>

            <section id="avatar" class="tab-panel">
              <h1 class="title">Avatar image</h1>
              <br>
              <label for="avatar" class="formbold-form-label">Choose new avatar 
                <i class="ri-information-line" title="Max size image is 1MB"></i>
              </label>
              <form action="/auth/manage/update-avatar?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" id="avatar" class="formbold-form-input" required>
                <input type="hidden" name="userId" value="<%= user._id %>">
                <button type="submit" class="formbold-btn">Update avatar</button>
              </form>
            </section>

            <section id="bio" class="tab-panel">
              <h1 class="title">Biography</h1>
              <br>
              <form action="/auth/manage/update-bio" method="post">
                <label for="bio" class="formbold-form-label">
                  Describe your self
                  <i class="ri-information-line" title="Maximum biography length is 500 characters."></i>
                </label>
                <textarea type="text" name="bio" id="bio" class="formbold-form-input" rows="7" required></textarea>
                <input type="hidden" name="userId" value="<%= user._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="formbold-btn">Update bio</button>
              </form>
            </section>

            <section id="social" class="tab-panel">
              <h1 class="title">Social media links</h1>
              <br>
              <h3>Current links</h3><br>
              <% if(user.social.length>0) { %>
                <ul class="social-media ">
                  <% for (const link of user.social) { %>
                    <div class="list">
                      <li class="list-item"><a target="_blank" href="<%= link.link.includes('https://') ? '' : 'https://' %><%= link.link %>" class="list-link"><i class="<%= link.icon %>"></i></a></li> - <p><%= link.link %></p>
                    </div>
                  <% } %>
                    <br>
                </ul>
              <% } else { %>
                <h4>None.</h4>
                <br>
              <% } %>
              <select name="select-list" id="select-list" class="formbold-form-input">
                <option value="close" selected>Choose a platform to update link.</option>
                <option value="ri-facebook-circle-line">Facebook</option>
                <option value="ri-instagram-line">Instagram</option>
                <option value="ri-twitter-line">Twitter</option>
                <option value="ri-youtube-line">Youtube</option>
                <option value="ri-linkedin-box-line">Linkedin</option>
              </select>
              <div id="div-social">
                <br>
                <label for="avatar" class="formbold-form-label">Update your link</label>
                <form action="/auth/manage/update-link" method="post" id="form-social">
                  <label for="link" class="formbold-form-label"></label>
                  <input type="text" name="link" class="formbold-form-input" required>
                  <input type="hidden" name="icon" id="icon" value="">
                  <input type="hidden" name="userId" value="<%= user._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit" class="formbold-btn">Update link</button>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../components/footer.ejs') %>
  <script src="/js/form.js"></script>
  <script src="/js/noti.js"></script>
<script>
  let select = document.getElementById('select-list');
  let icon;
  select.addEventListener('change', e => {
    if (e.target.value=='close') {
      document.getElementById('div-social').style.display = 'none';
    } else {
      // get id of option = e.target[e.target.selectedIndex].id;
      icon=e.target.value;
      document.getElementById('div-social').style.display = 'block';
      document.getElementById('icon').setAttribute('value',icon);
    }
  });
  function confirmed(){
    let confirm = document.getElementById('confirm-delete').value;
    if (confirm === "CONFIRMED") {
      document.getElementById('btn-delete').style.display = "block";
    } else {
      document.getElementById('btn-delete').style.display = "none";
    }
  }
  
  let note = document.getElementById('note');
  let type = document.getElementById('type');

  type.addEventListener('change', e => {
    if(e.target.value === 'newEmail') {
      note.style.display = "block";
    } else {
      note.style.display = "none";
    }
  });
  
</script>

</body>
</html>
