<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">

    <link rel="stylesheet" href="/css/form.css">
</head>
<%- include('../components/nav.ejs') %>

    <% if(error) { %>
        <%- include('../components/noti.ejs') %>
    <% } %>
<div class="onepage container formlogin">
    <h1><%= pageTitle %></h1>
    <hr />
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form method="post" action="/auth/new-password">
                <div class="formbold-mb-3">
                    <label class="formbold-form-label" for="password">Password</label>
                    <input class="formbold-form-input" id="password" name="password" type="password" required />
                </div>
                <div class="formbold-mb-3">
                    <label class="formbold-form-label" for="confirmPassword">Confirm password</label>
                    <input class="formbold-form-input" id="confirmPassword" name="confirmPassword" type="password" required />
                </div>
                <input type="hidden" name="email" value="<%= id %>">
                <input type="hidden" name="code" value="<%= code %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="button-54">Update Password</button>
            </form>
            
            <div id="checkPass" style="display: none;text-align: center;padding-bottom: 20px;">
                <h3 style="color: red;font-weight: 300;">Password does not match.</h3>
            </div>
        </div>
    </div>
</div>

<%- include('../components/footer.ejs') %>
    <script>
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');
        const check = document.getElementById('checkPass');
        
        confirmPassword.addEventListener('change', function() {
            if(password.value !== confirmPassword.value) {
                check.style.display = "block";
            } else {
                check.style.display = "none";
            }
        });
    </script>
</body>
</html>
