<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">

    <link rel="stylesheet" href="/css/form.css">
</head>
<%- include('../components/nav.ejs') %>

    <% if(error) { %>
        <%- include('../components/notification.ejs') %>
    <% } %>
<div class="onepage container formlogin">
    <h1><%= pageTitle %></h1>
    <hr />
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form action="" method="post">
                <div class="formbold-mb-3">
                    <label class="formbold-form-label" for="email" class="formbold-form-label">Email</label>
                    <input class="formbold-form-input" id="email" name="email" type="email" required />
                </div>
                
                <button class="button-54" type="submit">Resend confirmation</button>
            </form>
        </div>
    </div>  
</div>

<%- include('../components/footer.ejs') %>

</body>
</html>