<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">

    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>
<%- include('../components/nav.ejs') %>

    <% if(error) { %>
        <%- include('../components/notification.ejs') %>
    <% } %>
<div class="onepage container formlogin">
    <h1><%= pageTitle %></h1>
    <hr />
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form method="post" action="/auth/reset-password">
                <div class="formbold-mb-3">
                    <label class="formbold-form-label" for="email">Email</label>
                    <input class="formbold-form-input" id="email" name="email" type="email" required />
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="button-54">Reset</button>
            </form>
        </div>
    </div>
</div>

<%- include('../components/footer.ejs') %>
    <script src="/js/noti.js"></script>
</body>
</html>