<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>

    <%- include('../components/admin-nav.ejs') %>

      <div class="content">
        <div class="container"><button class="open-modal">&plus; Create category</button>
          <h2 class="mb-5">All categories</h2>
          <h4 class="sortHeader"> Sort by: 
            <a class="list-link <%= sortOption==='name' ? 'active' : '' %>" href="?sort=name">Name</a>
            <%- include('../components/sort.ejs') %>
          </h4>
          
          <div class="table-responsive custom-table-responsive">
                <div class="modal-content hidden-modal">
                    <div class="modal-header">
                        <h3>Create a new category.</h3>
                        <button class="close-modal" title="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="formbold-main-wrapper">
                        <div class="formbold-form-wrapper">
                          <form id="form-category" action="/admin/create-category?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                            <div class="formbold-mb-3">
                                <label for="name" class="formbold-form-label"> Name <i class="ri-information-line" title="Length: 4-20 characters"></i> </label>
                                <input
                                  type="text"
                                  name="name"
                                  id="name"
                                  placeholder="Category's name"
                                  class="formbold-form-input"
                                  required
                                />
                            </div>
                      
                            <div class="formbold-mb-3">
                              <label for="description" class="formbold-form-label">
                                Description <i class="ri-information-line" title="Length: 150-255 characters"></i>
                              </label>
                              <textarea
                                rows="6"
                                name="description"
                                id="description"
                                class="formbold-form-input"
                                required
                              ></textarea>
                            </div>
                      
                            <div class="formbold-form-file-flex">
                              <label for="image" class="formbold-form-label">
                                Upload Category Thumbnail
                              </label>
                              <input
                                type="file"
                                name="image"
                                id="image"
                                class="formbold-form-file"
                                required
                              />
                            </div>
                            <label id="fileStatus" style="display: none;color: red;" class="formbold-form-label">The maximum file size is 1MB and only 1 file is accepted.</label>
                            
                            <div id="imgPreview" style="display: none;">
                              <br>
                              <label class="formbold-form-label">Preview Image</label>
                            </div>

                            <button type="submit" class="formbold-btn">Create</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </div> 
            <div class="blur-bg hidden-blur"></div>

            <table class="table custom-table">
              <thead>
                <tr>  
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="shorten">Image Url</th>
                    <th scope="col">Description</th>
                    <th scope="col">Create at</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                <% for (let i = 0;i<categories.length;i++) { const cat=categories[i]; %>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= cat.name %></td>
                    <td class="shorten">
                      <%= cat.imageUrl %>
                    </td>
                    <td><%= cat.description%></td>
                    <td>
                      <%= new Date(cat.createdAt.toString()).toLocaleDateString() %>
                    </td>
                    <td><a href="/admin/details/<%= cat.slug %>?edit=category" class="list-link">Details</a></td>
                    <tr class="spacer"><td colspan="100"></td></tr>
                  </tr>
                <% } %>

              </tbody>
            </table>
            
          </div>
          <% if(categories.length>0) { %>
            <%- include('../components/pagination.ejs') %>
          <% } %>
        </div>
      </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/form.js"></script>
<script src="/js/noti.js"></script>

</body>
</html>