<%- include('../components/header.ejs') %>

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>

    <%- include('../components/admin-nav.ejs') %>


      <div class="content">
        <div class="container">
          <h2 class="mb-5">All comments</h2>
          
          <div class="table-responsive custom-table-responsive">

            <table class="table custom-table">
              <thead>
                <tr>  
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Content</th>
                    <th scope="col">Post's title</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <th scope="row">
                    1
                  </th>
                  <td>
                    1392
                  </td>
                  <td>James Yates</td>
                  <td>
                    Web Designer
                    <small class="d-block">Far far away, behind the word mountains.</small>
                  </td>
                  <td>+63 983 0962 971</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <th scope="row">
                    2
                  </th>
                  
                  <td>4616</td>
                  <td>Matthew Wasil</td>
                  <td>
                    Graphic Designer
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+02 020 3994 929</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <th scope="row">
                    3
                  </th>
                  
                  <td>9841</td>
                  <td>Sampson Murphy</td>
                  <td>
                    Mobile Dev
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+01 352 1125 0192</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <th scope="row">
                    4
                  </th>
                  
                  <td>9548</td>
                  <td>Gaspar Semenov</td>
                  <td>
                    Illustrator
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+92 020 3994 929</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <th scope="row">
                    5
                  </th>
                  
                  <td>4616</td>
                  <td>Matthew Wasil</td>
                  <td>
                    Graphic Designer
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+02 020 3994 929</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <th scope="row">
                    6
                  </th>
                  
                  <td>9841</td>
                  <td>Sampson Murphy</td>
                  <td>
                    Mobile Dev
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+01 352 1125 0192</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <th scope="row">
                    7
                  </th>
                  
                  <td>9548</td>
                  <td>Gaspar Semenov</td>
                  <td>
                    Illustrator
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+92 020 3994 929</td>
                  <td><a href="#" class="list-link">Details</a></td>
                </tr>
                
              </tbody>
            </table>
            
          </div>
          <%- include('../components/pagination.ejs') %>
        </div>
      </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>

</body>
</html>