<%- include('../components/header.ejs') %>

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">
    
    <link rel="stylesheet" href="/css/form.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>

    <%- include('../components/admin-nav.ejs') %>

      <div class="content">
        <div class="container">
          <h2 class="mb-5">All comments</h2>
          <h4 class="sortHeader"> Sort by: 
            <a class="list-link <%= sortOption==='nameaz' ? 'active' : '' %>" href="?nameaz">Name(A-Z)</a>
            <a class="list-link <%= sortOption==='nameza' ? 'active' : '' %>" href="?nameza">Name(Z-A)</a>
            <%- include('../components/sort.ejs') %>
          </h4>
          <div class="table-responsive custom-table-responsive">
            <table class="table custom-table">
              <thead>
                <tr>  
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Content</th>
                    <th scope="col">Post's title</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i< comments.length; i++) { %>
                  <% const comment = comments[i]; %>
                    <tr style="text-align: center;">
                      <th scope="row">
                        <%= i+1 %>
                      </th>
                      <td>
                        <%= comment.userId.name %>
                      </td>
                      <td><%= comment.userId.email %></td>
                      <td>
                        <%= comment.content %>
                      </td>
                      <td><a href="/post/<%= comment.postId.slug %>" class="list-link"><%= comment.postId.title %></a></td>
                      <% if(level>2) { %>
                        <td>
                          <form action="/admin/delete-comment" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="commentId" value="<%= comment._id %>">
                            <button type="submit" class="list-link" style="cursor: pointer;" >Delete</button>
                          </form>
                        </td>
                      <% } else { %>
                        <td><%= comment.createdAt.toLocaleDateString('en-us') %></td>
                      <% } %>
                    </tr>
                <% } %>
              </tbody>
            </table>
            
          </div>
          <% if(comments.length >0) { %>
            <%- include('../components/pagination.ejs') %>
          <% } %>
        </div>
      </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>
<script src="/js/pagination.js"></script>

</body>
</html>