<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>

    <%- include('../components/admin-nav.ejs') %>

      <div class="content">
        <div class="container"> <button style="background: red;" class="open-modal">Delete expired contacts</button>
          <h2 class="mb-5">All contacts</h2>
          <h4 class="sortHeader"> Sort by: 
            <a class="list-link <%= sortOption==='like' ? 'active' : '' %>" href="?sort=like">Name</a>
            <a class="list-link <%= sortOption==='expire' ? 'active' : '' %>" href="?sort=expire">Expire</a>
            <a class="list-link <%= sortOption==='checked' ? 'active' : '' %>" href="?sort=checked">Checked</a>
            <%- include('../components/sort.ejs') %>
          </h4>
          <div class="table-responsive custom-table-responsive">
            <div class="modal-content hidden-modal">
              <div class="modal-header">
                <h3>Clean all checked contacts?</h3>
                <br>
                <button style="margin-left: 30px;" class="close-modal" title="Close"> &times;</button>
              </div>
              <div class="modal-body">
                <h4>You're going to clean your checked contacts, are you sure?</h4>
                <br>
                <form action="/admin/clean-contacts">
                  <div class="formbold-mb-3">
                    <label class="formbold-form-label">Click button below to process.</label>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit" class="formbold-btn-delete">Delete</button>
                </form>
              </div>
            </div>
            <div class="blur-bg hidden-blur"></div>

            <table class="table custom-table">
              <thead>
                <tr>  
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Expire</th>
                    <th scope="col">Checked</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < contacts.length; i++) { %>
                  <% const contact = contacts[i]; %>                    
                    <tr scope="row">
                      <th scope="row">
                        <%= i+1 %>
                      </th>
                      <td>
                        <%= contact.name %>
                      </td>
                      <td><%= contact.email %></td>
                      <td>
                        <%= contact.subject %>
                        <!-- <small class="d-block">Far far away, behind the word mountains.</small> -->
                      </td>
                      <td><%= contact.limit.toLocaleDateString('en-us',{year:'numeric',month:'short',day:'numeric'}) %></td>
                      <td><%= contact.checked %></td>
                      <td><a href="/admin/details-id/<%= contact._id %>?edit=contact" class="list-link">Details</a></td>
                    </tr>
                <% } %>
                
              </tbody>
            </table>
            
          </div>
          <% if(contacts.length >0) { %>
            <%- include('../components/pagination.ejs') %>
          <% } %>
        </div>
      </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>
<script src="/js/form.js"></script>

</body>
</html>