<%- include('../components/header.ejs') %>

<link rel="stylesheet" href="/css/form.css">

<link rel="stylesheet" href="/css/table.css">

<link rel="stylesheet" href="/css/noti.css">

<link rel="stylesheet" href="/css/quill.css">

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>

<%- include('../components/nav.ejs') %>

  <% if(error) {%>
    <%- include('../components/notification.ejs')%>
  <% } %>
  
<div class="section-header-offset container">

    <h1>Edit <%= edit %> </h1>
    <br>
    <% if (edit==='post') {%>
        <form action="/admin/update-post?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">

          <div class="formbold-mb-3">
            <div>
              <label for="title" class="formbold-form-label"> Title </label>
              <input
                type="text"
                name="title"
                id="title"
                placeholder="Your post's title"
                class="formbold-form-input"
                autofocus
                required
                value="<%= post.title %>"
              />
            </div>
          </div>
    
          <div class="formbold-mb-3">
            <label for="des" class="formbold-form-label"> Description: </label>
            <input
              type="text"
              name="description"
              id="description"
              class="formbold-form-input" 
              required
              value="<%= post.description %>"
            />
          </div>
    
          <div class="formbold-mb-3">
            <label for="cats" class="formbold-form-label"> Categories </label>

            <% for (const cat of categories) { %>
              <input type="checkbox" class="larger"
                name="catIds" 
                id="<%= cat.name %>" 
                value="<%= cat._id %>" 
                <%= postCatIds.includes(cat._id.toString()) ? 'checked' : '' %> > 
              <label for="<%= cat.name %>"><%= cat.name %></label>
            <% } %>

          </div>
          
          <div class="formbold-mb-3">
            <label for="content" class="formbold-form-label">
              Content
            </label>
            <div
              id="editor"
              class="formbold-form-input"><%- htmlContent %></div>
              <input type="hidden" name="content" id="content" value="<%= htmlContent %>">
          </div>
          
          <div class="formbold-mb-3">
            <label class="formbold-form-label">Publish</label>

            <select class="formbold-form-input" name="published" id="published">
              <option value="1" selected >Yes!</option>
              <option value="0">Nah, not yet.</option>
            </select>
          </div>

          <div class="formbold-mb-3">
            <label class="formbold-form-label">Current Thumbnail Image </label>
            <img style="max-width: 750px;" src="<%= post.imageUrl %>" alt="">
          </div>

          <div class="formbold-form-file-flex">
            <label for="image" class="formbold-form-label">
              Upload New Thumbnail Image (Optional)
            </label>
            <input
              type="file"
              name="image"
              id="image"
              class="formbold-form-file"
            />
          </div>
          <label id="fileStatus" style="display: none;color: red;" class="formbold-form-label">Max file size is 1MB</label>

          <div id="imgPreview" style="display: none;">
            <br>
            <label class="formbold-form-label">Preview Image</label>
          </div>

          <input type="hidden" value="<%= post._id %>" name="postId">
          <input type="hidden" name="oldSlug" value="<%= post.slug %>">

          <button type="submit" class="formbold-btn">Update post</button>
        </form>

        <form action="/admin/delete-post" method="post">
          <input type="hidden" name="id" value="<%= post._id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="formbold-btn-delete">Delete</button>
        </form>
    <% } %>

    <% if (edit==='category') {%>
        <form action="/admin/update-category?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
            <div class="formbold-mb-3">
              <div>
                <label for="name" class="formbold-form-label"> Name </label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Category's name"
                  class="formbold-form-input"
                  required
                  value="<%= category.name %>"
                />
              </div>
            </div>
      
            <div class="formbold-mb-3">
              <label for="description" class="formbold-form-label">
                Description
              </label>
              <textarea
                rows="6"
                name="description"
                id="description"
                required
                class="formbold-form-input"><%= category.description%></textarea>
            </div>

            <div  class="formbold-mb-3">
              <label class="formbold-form-label">Current Thumbnail Image </label>
              <img style="max-width: 750px;" src="<%= category.imageUrl %>" alt="">
            </div>

            <div class="formbold-form-file-flex">
              <label for="image" class="formbold-form-label">
                Upload New Category Thumbnail (Optional)
              </label>
              <input
                type="file"
                name="image"
                id="image"
                class="formbold-form-file"
              />
            </div>
            <label id="fileStatus" style="display: none;color: red;" class="formbold-form-label">Max file size is 1MB</label>
            
            <div id="imgPreview" style="display: none;">
              <br>
              <label class="formbold-form-label">Preview Image</label>
            </div>

            <input type="hidden" name="catId" value="<%= category._id %>">
            <input type="hidden" name="oldSlug" value="<%= category.slug %>">

            <button type="submit" class="formbold-btn">Update</button>
        </form>

        <form action="/admin/delete-category" method="post">
          <input type="hidden" name="id" value="<%= category._id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="formbold-btn-delete">Delete</button>
        </form>
    <% } %>
    
    <% if (edit==='user') { %>
      <% if (user.level === 3) { %>
            <span style="color: red;">Hello admin</span>
          <% } %>
        <form style="min-width: 500px;" action="/admin/update-user" method="POST" >
          
          <div class="formbold-mb-3">
            <label class="formbold-form-label">Current Avatar</label>
            <div class="profile-card"> 
                <img src="<%= user.avatarUrl %>" alt="">
            </div>
          </div>

          <div class="formbold-mb-3">
            <label for="email" class="formbold-form-label"> Email </label>
            <input
              type="email"
              name="email"
              id="email"
              class="formbold-form-input"
              required
              value="<%= user.email %>" />
          </div>

          <div class="formbold-mb-3">
              <label for="name" class="formbold-form-label"> Name </label>
              <input
                type="text"
                name="name"
                id="name"
                class="formbold-form-input"
                required
                value="<%= user.name %>"
              />
          </div>

          <div class="formbold-mb-3">
            <label for="active" class="formbold-form-label">Active</label>
            <select name="active" id="level" class="formbold-form-input">
              <option value="0" <%= user.active === false ? 'Selected' : '' %> > Not yet </option>
              <option value="1" <%= user.active === true ? 'Selected' : '' %> > Actived </option>
            </select>
          </div>
          
          <div class="formbold-mb-3">
            <label for="level" class="formbold-form-label">Level</label>
            <p>Curren Level: <span style="color: green;"><%= user.level %></span></p>
            <br>
            <select name="level" id="level" class="formbold-form-input">
              <option value="1" selected> 1 - Basic User </option>
              <option value="2"> 2 - Editor </option>
              <option value="3"> 3 - Admin </option>
            </select>
          </div>

          <div class="formbold-mb-3">
            <label for="shortDes" class="formbold-form-label">
              Short Description
            </label>
            <textarea
              rows="6"
              name="shortDes"
              id="shortDes"
              class="formbold-form-input"><%= user.shortDes %></textarea>
          </div>

          <div class="formbold-mb-3">
            <label for="warning" class="formbold-form-label">Warning</label>
            <input type="number" name="warning" id="warning" class="formbold-form-input" value="<%= user.warning %>">  
          </div>

          <div class="formbold-mb-3">
            <label for="banned" class="formbold-form-label">Banned</label>
            <select name="banned" id="banned" class="formbold-form-input">
              <option value="0" <%= user.banned === false ? 'Selected' : '' %> >Set him free.</option>
              <option value="1" <%= user.banned === true ? 'Selected' : '' %> >Your freedom end here.</option>
            </select>
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="userId" value="<%= user._id %>">

          <button type="submit" class="formbold-btn">Update</button>
        </form>

        <form action="/admin/delete-user" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="userId" value="<%= user._id %>">
          <button type="submit" class="formbold-btn-delete">Delete</button>
        </form>
    <% } %>

    <% if(edit==='contact') { %>
      <form style="min-width: 500px;" action="/admin/update-contact" method="post">
        <div class="formbold-mb-3">
          <label for="checked" class="formbold-form-label">Name</label>
          <input type="text" class="formbold-form-input" value="<%= contact.name %>" disabled>
        </div>  
        <div class="formbold-mb-3">
          <label for="checked" class="formbold-form-label">Email</label>
          <input type="email" class="formbold-form-input" value="<%= contact.email %>" disabled>
        </div>
        <div class="formbold-mb-3">
          <label for="checked" class="formbold-form-label">Subject</label>
          <input type="text" class="formbold-form-input" value="<%= contact.subject %>" disabled>
        </div>
        <div class="formbold-mb-3">
          <label for="checked" class="formbold-form-label">Message</label>
          <textarea type="text" class="formbold-form-input" rows="7" disabled><%= contact.message%></textarea>
        </div>
        <div class="formbold-mb-3">
          <label for="checked" class="formbold-form-label">Checked</label>
          <select name="checked" class="formbold-form-input">
            <option value="0" selected>False</option>
            <option value="1" >True</option>
          </select>
        </div> 
        
        <input type="hidden" name="id" value="<%= contact._id %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <button type="submit" class="formbold-btn">Update</button>
      </form>
    <% } %>
  </div>
<br><br>

<script src="/js/noti.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script>
    let Font = Quill.import('formats/font');
    Font.whitelist = ['sans','cas-code', 'roboto', 'agda', 'teko', 'oswald', 'caveat', 'kalam', 'valorant'];
    Quill.register(Font, true);

    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'], // toggled buttons
      ['blockquote', 'code-block'],

      [{ list: 'ordered' }, { list: 'bullet' }],
      [{ script: 'sub' }, { script: 'super' }], // superscript/subscript
      [{ indent: '-1' }, { indent: '+1' }], // outdent/indent

      [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
      [{ header: [1, 2, 3, 4, 5, 6, false] }],

      [{ color: [] }, { background: [] }], // dropdown with defaults from theme
      [{ font: ['sans', 'cas-code', 'roboto', 'agda', 'teko', 'oswald', 'caveat', 'kalam', 'valorant'] }],
      [{ align: [] }],

      ['link','image','video'],
      ['clean'], // remove formatting button
    ];
        
    let quill = new Quill('#editor', {
      modules: {
        toolbar: {
          container : toolbarOptions,
          handlers : {
            'image': imageHandler,
          }
        }
      },
      theme:'snow',
    });

    var toolbar = quill.container.previousSibling;
    toolbar.querySelector('button.ql-bold').setAttribute('title', 'Bold - Ctrl+B');
    toolbar.querySelector('button.ql-italic').setAttribute('title', 'Italic - Ctrl+I');
    toolbar.querySelector('button.ql-underline').setAttribute('title', 'Underline - Ctrl+U');
    toolbar.querySelector('button.ql-strike').setAttribute('title', 'Make a line at middle of text');
    toolbar.querySelector('button.ql-blockquote').setAttribute('title', 'Quote');
    toolbar.querySelector('button.ql-code-block').setAttribute('title', 'Coding time :))');
    toolbar.querySelector('span.ql-color').setAttribute('title', 'Text color');
    toolbar.querySelector('span.ql-background').setAttribute('title', 'Text background color');
    toolbar.querySelector('button.ql-clean').setAttribute('title', 'Clear Formatting');
    toolbar.querySelector('button.ql-link').setAttribute('title', 'Link - Select text first');

    function imageHandler() {
      var range = this.quill.getSelection();
      var value = prompt('Enter Image Url');
      if (value) {
        this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
      }
    }

    var justHtml = document.getElementById('content');
      quill.on('text-change',function() {
        var html = quill.root.innerHTML;
        justHtml.value = html;
      });
  </script>

  <script>
    const imgPreview = document.getElementById('imgPreview');
    const imgPicker = document.getElementById('image');
    const fileStatus=document.getElementById('fileStatus');

    imgPicker.addEventListener('change', function () {
      const file = imgPicker.files[0];
      const maxSized = 1048576;
      if (file.size > maxSized) {
        fileStatus.style.display = 'block';
      } else {
        fileStatus.style.display = 'none';
        showPreviewImage();
      }
    });

    function showPreviewImage() {
      const files = imgPicker.files[0];
      if (files) {
        const fileReader = new FileReader();
        fileReader.readAsDataURL(files);
        fileReader.addEventListener("load", function () {
          imgPreview.style.display = "block";
          imgPreview.innerHTML += '<img style="max-width:250px;" src="' + this.result + '" />';
        });    
      }
    }
  </script>

</body>
</html>