<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/quill.css">

</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>
        
    <%- include('../components/admin-nav.ejs') %>

    <div class="content">
      <div class="container"><button class="open-modal"> &plus; Create post</button>
        <h2 class="mb-5">All posts</h2> 
        <h4 class="sortHeader"> Sort by: 
          <a class="list-link <%= sortOption==='titleaz' ? 'active' : '' %>" href="?sort=titleaz">Title(A-Z)</a>
          <a class="list-link <%= sortOption==='titleza' ? 'active' : '' %>" href="?sort=titleza">Title(Z-A)</a> 
          <a class="list-link <%= sortOption==='most' ? 'active' : '' %>" href="?sort=most">Most-Liked</a>
          <a class="list-link <%= sortOption==='least' ? 'active' : '' %>" href="?sort=least">Least-Liked</a>
          <a class="list-link <%= sortOption==='status' ? 'active' : '' %>" href="?sort=status">Status</a>
          <%- include('../components/sort.ejs') %>
        </h4>
        <div class="table-responsive custom-table-responsive">
              <div class="modal-content hidden-modal">
                  <div class="modal-header">
                      <h3>Create a new post.</h3>
                      <button class="close-modal" title="Close">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="formbold-main-wrapper">
                      <div class="formbold-form-wrapper">
                        <form action="/admin/create-post?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                          
                          <div class="formbold-mb-3">
                            <div>
                              <label for="title" class="formbold-form-label"> Title <i class="ri-information-line" title="Length: 30 - 70 characters"></i> </label>
                              <input
                                type="text"
                                name="title"
                                id="title"
                                class="formbold-form-input"
                                autofocus
                                required
                              />
                            </div>
                          </div>
                    
                          <div class="formbold-mb-3">
                            <label for="des" class="formbold-form-label"> Description <i class="ri-information-line" title="Length: 100 - 150 characters"></i></label>
                            <input
                              type="text"
                              name="description"
                              id="description"
                              class="formbold-form-input"
                              required 
                            />
                          </div>
                    
                          <div class="formbold-mb-3">
                            <label for="cats" class="formbold-form-label"> Categories <i class="ri-information-line" title="Choosing at least 2 categories"></i></label>
                            
                            <% categories.forEach(cat => { %>
                              <input type="checkbox" class="larger" 
                                name="catIds" 
                                id="<%= cat.name %>" 
                                value="<%= cat._id %>" /> 
                              <label for="<%= cat.name %>"><%= cat.name %></label>
                            <% }); %>

                          </div>
                          
                          <div class="formbold-mb-3">
                            <label for="content" class="formbold-form-label">
                              Content <i class="ri-information-line" title="Length: Minimum 1000 characters"></i>
                            </label>
                              
                            <div 
                              id="editor"
                              class="formbold-form-input">
                            </div>
                            <input id="content" name="content" type="hidden"/>
                          </div>
                          
                          <div class="formbold-mb-3">
                            <div>
                                <label class="formbold-form-label">Publish</label>
                    
                                <select class="formbold-form-input" name="published" id="published">
                                  <option value="1" selected >Yes!</option>
                                  <option value="0">Nah, not yet.</option>
                                </select>
                            </div>
                          </div>

                          <div class="formbold-form-file-flex">
                            <label for="image" class="formbold-form-label">
                              Upload Thumbnail Image
                            </label>
                            <input
                              type="file"
                              name="image"
                              id="image"
                              class="formbold-form-file"
                              required
                            />
                          </div>
                          <label id="fileStatus" style="display: none;color: red;" class="formbold-form-label">The maximum file size is 1MB and only 1 file is accepted.</label>

                          <div id="imgPreview" style="display: none;">
                            <br>
                            <label class="formbold-form-label">Preview Image</label>
                            <div id="imgView"></div>
                          </div>
                          
                          <button type="submit" class="formbold-btn">Create post</button>
                        </form>
                      </div>
                    </div>
                  </div>
              </div> 
          <div class="blur-bg hidden-blur"></div>

          <table class="table custom-table">
            <thead>
              <tr>  
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Image Url</th>
                  <th scope="col">Description</th>
                  <th scope="col">Author</th>
                  <th scope="col">Likes</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created At</th>
                  <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <% for(let i=0;i<posts.length;i++) { const post=posts[i]; %>
                <tr>
                  <th scope="row">
                    <%= i+1 %>
                  </th>
                  <td class="shorten-250">
                    <%= post.title %>
                  </td>
                  <td class="shorten-250"><%= post.imageUrl %></td>
                  <td class="shorten-250"><%= post.description %></td>
                  <td class="centered">
                      <% if(!post.author) { %> 
                         Deleted 
                      <% } else { %>
                         <a href="/user/<%= post.author.name%>" class="list-link""><%= post.author.name %></a>
                      <% } %>
                  </td>
                    <td class="centered"><%= post.like.length %></td>
                    <td class="centered"><%= post.status === true ? 'Published' : 'Not publish' %></td>
                    <td class="centered">
                      <%= post.createdAt.toLocaleDateString('en-us') %>
                    </td>
                  <td><a href="/admin/details/<%= post.slug %>?edit=post" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
              <% } %>

            </tbody>
          </table>
          
        </div>
        <% if(posts.length >0) { %>
          <%- include('../components/pagination.ejs') %>
        <% } %>
      </div>
    </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/form.js"></script>
<script src="/js/noti.js"></script>
<script src="/js/pagination.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script>
    let Font = Quill.import('formats/font');
    Font.whitelist = ['sans','cas-code', 'roboto', 'agda', 'teko', 'oswald', 'caveat', 'kalam', 'valorant'];
    Quill.register(Font, true);

    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'], // toggled buttons
      ['blockquote', 'code-block'],

      [{ list: 'ordered' }, { list: 'bullet' }],
      [{ script: 'sub' }, { script: 'super' }], // superscript/subscript
      [{ indent: '-1' }, { indent: '+1' }], // outdent/indent

      [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
      [{ header: [1, 2, 3, 4, 5, 6, false] }],

      [{ color: [] }, { background: [] }], // dropdown with defaults from theme
      [{ font: ['sans', 'cas-code', 'roboto', 'agda', 'teko', 'oswald', 'caveat', 'kalam', 'valorant'] }],
      [{ align: [] }],

      ['link','image','video'],
      ['clean'], // remove formatting button
    ];
        
    let quill = new Quill('#editor', {
      modules: {
        toolbar: {
          container : toolbarOptions,
          handlers : {
            'image': imageHandler,
          }
        }
      },
      theme:'snow',
    });

    var toolbar = quill.container.previousSibling;
    toolbar.querySelector('button.ql-bold').setAttribute('title', 'Bold - Ctrl+B');
    toolbar.querySelector('button.ql-italic').setAttribute('title', 'Italic - Ctrl+I');
    toolbar.querySelector('button.ql-underline').setAttribute('title', 'Underline - Ctrl+U');
    toolbar.querySelector('button.ql-strike').setAttribute('title', 'Make a line at middle of text');
    toolbar.querySelector('button.ql-blockquote').setAttribute('title', 'Quote');
    toolbar.querySelector('button.ql-code-block').setAttribute('title', 'Coding time :))');
    toolbar.querySelector('span.ql-color').setAttribute('title', 'Text color');
    toolbar.querySelector('span.ql-background').setAttribute('title', 'Text background color');
    toolbar.querySelector('button.ql-clean').setAttribute('title', 'Clear Formatting');
    toolbar.querySelector('button.ql-link').setAttribute('title', 'Link - Select texts then use this');

    function imageHandler() {
      var range = this.quill.getSelection();
      var value = prompt('Enter Image Url');
      if (value) {
        this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
      }
    }

    var justHtml = document.getElementById('content');
    quill.on('text-change',function() {
      var html = quill.root.innerHTML;
      justHtml.value = html;
    });
  </script>

</body>
</html>
