<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) { %>
      <%- include('../components/notification.ejs', {
        error: error,
        errorType: errorType,
        errorHeader: errorHeader }) %>
    <% } %>
        
    <%- include('../components/admin-nav.ejs') %>

    <div class="content">
      <div class="container"><button class="open-modal"> &plus; Create post</button>
        <h2 class="mb-5">All posts</h2>
        
        <div class="table-responsive custom-table-responsive">
              <div class="modal-content hidden-modal">
                  <div class="modal-header">
                      <h3>Create a new post.</h3>
                      <button class="close-modal" title="Close">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="formbold-main-wrapper">
                      <div class="formbold-form-wrapper">
                        <form action="/admin/manage/create-post" method="POST" enctype="multipart/form-data">

                          <div class="formbold-mb-3">
                            <div>
                              <label for="title" class="formbold-form-label"> Title </label>
                              <input
                                type="text"
                                name="title"
                                id="title"
                                placeholder="Your post's title"
                                class="formbold-form-input"
                                autofocus
                                required
                              />
                            </div>
                          </div>
                    
                          <div class="formbold-mb-3">
                            <label for="des" class="formbold-form-label"> Description: </label>
                            <input
                              type="text"
                              name="description"
                              id="description"
                              class="formbold-form-input"
                              required 
                            />
                          </div>
                    
                          <div class="formbold-mb-3">
                            <label for="cats" class="formbold-form-label"> Categories </label>
                            
                            <% categories.forEach(cat => { %>
                              <input type="checkbox" class="larger" 
                                name="catIds" 
                                id="<%= cat.name %>" 
                                value="<%= cat._id %>" > 
                              <label for="<%= cat.name %>"><%= cat.name %></label>
                            <% }); %>

                          </div>
                          
                          <div class="formbold-mb-3">
                            <label for="content" class="formbold-form-label">
                              Content
                            </label>
                            <textarea
                              rows="6"
                              name="content"
                              id="content"
                              class="formbold-form-input"
                              required
                            ></textarea>
                          </div>
                          
                          <div class="formbold-mb-3">
                            <div>
                                <label class="formbold-form-label">Publish</label>
                    
                                <select class="formbold-form-input" name="published" id="published">
                                  <option value="1">Yes!</option>
                                  <option value="0">Nah, not yet.</option>
                                </select>
                            </div>
                          </div>

                          <div class="formbold-form-file-flex">
                            <label for="image" class="formbold-form-label">
                              Upload Thumbnail Image
                            </label>
                            <input
                              type="file"
                              name="image"
                              id="image"
                              class="formbold-form-file"
                              required
                            />
                          </div>

                          <button type="submit" class="formbold-btn">Create post</button>
                        </form>
                      </div>
                    </div>
                  </div>
              </div> 
          <div class="blur-bg hidden-blur"></div>

          <table class="table custom-table">
            <thead>
              <tr>  
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Image Url</th>
                  <th scope="col">Content</th>
                  <th scope="col">Description</th>
                  <th scope="col">Author</th>
                  <th scope="col">Status</th>
                  <th scope="col">Categories</th>
                  <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <% for(let i=0;i<posts.length;i++) { %>
                <tr>
                  <th scope="row">
                    <%= i+1 %>
                  </th>
                  <td>
                    <%= posts[i].title %>
                  </td>
                  <td class="shorten-250"><%= posts[i].imageUrl %></td>
                  <td class="shorten-250">
                    <%= posts[i].content %>
                    <!-- <small class="d-block">Far far away, behind the word mountains.</small> -->
                  </td>
                  <td><%= posts[i].description %></td>
                  <td>
                    <a href="#" class="list-link"">
                      <%= posts[i].author.name %>
                    </a>
                  </td>
                  <td><%= posts[i].status === true ? 'Published' : 'Not publish' %></td>
                  <td>
                    <% posts[i].category.forEach(cat => { %>
                      <a href="/categories/<%= cat.slug %>" class="list-link"><%= cat.name %></a> |
                    <% }); %>
                  </td>
                  <td><a href="/admin/manage/details/<%= posts[i]._id %>?edit=post" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
              <% } %>

            </tbody>
          </table>
          
        </div>

        <%- include('../components/pagination.ejs') %>

      </div>
    </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/form.js"></script>
<script src="/js/noti.js"></script>

</body>
</html>