<%- include('../components/header.ejs') %>
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">

</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
        
    <%- include('../components/admin-nav.ejs') %>

    <div class="content">
      <div class="container">
        <h2 class="mb-5">All posts found with keywords: <span style="color: #ff9999;"><%= keyword %></span></h2> 
        <div class="table-responsive custom-table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>  
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Image Url</th>
                  <th scope="col">Description</th>
                  <th scope="col">Author</th>
                  <th scope="col">Likes</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created At</th>
                  <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <% for(let i=0;i<posts.length;i++) { const post=posts[i]; %>
                <tr>
                  <th scope="row">
                    <%= i+1 %>
                  </th>
                  <td class="shorten-250">
                    <%= post.title %>
                  </td>
                  <td class="shorten-250"><%= post.imageUrl %></td>
                  <td class="shorten-250"><%= post.description %></td>
                  <td class="centered">
                      <% if(!post.author) { %> 
                         Deleted 
                      <% } else { %>
                         <a href="/user/<%= post.author.name%>" class="list-link""><%= post.author.name %></a>
                      <% } %>
                  </td>
                    <td class="centered"><%= post.like.length %></td>
                    <td class="centered"><%= post.status === true ? 'Published' : 'Not publish' %></td>
                    <td class="centered">
                      <%= post.createdAt.toLocaleDateString('en-us') %>
                    </td>
                  <td><a href="/admin/details/<%= post.slug %>?edit=post" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
              <% } %>

            </tbody>
          </table>
          
        </div>
        <% if(posts.length >0) { %>
          <%- include('../components/pagination.ejs') %>
        <% } %>
      </div>
    </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/form.js"></script>
<script src="/js/noti.js"></script>
<script src="/js/pagination.js"></script>

</body>
</html>
