<%- include('../components/header.ejs') %>

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">

    <link rel="stylesheet" href="/css/form.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>

    <%- include('../components/admin-nav.ejs') %>

      <div class="content">
        <div class="container">
          <h2 class="mb-5">All users</h2>
          <h4 class="sortHeader"> Sort by: 
            <a class="list-link <%= sortOption==='nameaz' ? 'active' : '' %>" href="?sort=nameaz">Name(Z-A)</a>
            <a class="list-link <%= sortOption==='nameza' ? 'active' : '' %>" href="?sort=nameza">Name(A-Z)</a>
            <a class="list-link <%= sortOption==='level' ? 'active' : '' %>" href="?sort=level">Level</a>
            <a class="list-link <%= sortOption==='banned' ? 'active' : '' %>" href="?sort=banned">Banned</a>
            <%- include('../components/sort.ejs') %>
          </h4>
          
          <div class="table-responsive custom-table-responsive">

            <table class="table custom-table">
              <thead>
                <tr>  
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Avatar Url</th>
                    <th scope="col">Active</th>
                    <th scope="col">Social</th>
                    <th scope="col">Banned</th>
                    <th scope="col">Created At</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<users.length;i++) { %> 
                  <% const user=users[i]; %>
                    <tr style="text-align: center;">
                      <th scope="row">
                        <%= i+1 %>
                      </th>
                      <td>
                        <%= user.name %>
                      </td>
                      <td><%= user.email %></td>
                      <td class="shorten-250">
                        <%= user.avatarUrl %>
                        <!-- <small class="d-block">Far far away, behind the word mountains.</small> -->
                      </td>
                      <td><%= user.active %></td>
                      <td><%= user.social.length %></td>
                      <td><%= user.banned %></td>
                      <td><%= user.createdAt.toLocaleDateString('en-us') %></td>
                      <td><a href="/admin/details-id/<%= user._id %>" class="list-link">Details</a></td>
                    </tr>
                <% } %>
              </tbody>
            </table>
            
          </div>
          <% if(users.length >0) { %>
            <%- include('../components/pagination.ejs') %>
          <% } %>
        </div>
      </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>

</body>
</html>