<%- include('../components/header.ejs') %>

    <link rel="stylesheet" href="/css/table.css">

    <link rel="stylesheet" href="/css/noti.css">
</head>

<%- include('../components/nav.ejs') %>
    
<%- include('../components/admin-header.ejs') %>
    
    <% if(error) {%>
      <%- include('../components/notification.ejs')%>
    <% } %>

    <%- include('../components/admin-nav.ejs') %>

      <div class="content">
        <div class="container">
          <h2 class="mb-5">All users</h2>
          
          <div class="table-responsive custom-table-responsive">

            <table class="table custom-table">
              <thead>
                <tr>  
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image Url</th>
                    <th scope="col">Content</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                    <th scope="col">Categories</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">
                    1
                  </th>
                  <td>
                    1392
                  </td>
                  <td>James Yates</td>
                  <td>
                    Web Designer
                    <small class="d-block">Far far away, behind the word mountains.</small>
                  </td>
                  <td>+63 983 0962 971</td>
                  <td>NY University</td>
                  <td>Sports | Girl | Vietnam</td>
                  <td><a href="/admin/manage/details/id?edit=user" class="list-link">Details</a></td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                
              </tbody>
            </table>
            
          </div>

          <%- include('../components/pagination.ejs') %>

        </div>
      </div>
    
<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>

</body>
</html>