<div class="admin-nav" style="display: flex;">
    <a href="/admin/posts" class="<%= path==='/posts' ? 'active' :'' %>">
      Posts
    </a>
    <% if(level>2) {%>
    <a href="/admin/users" class="<%= path==='/users' ? 'active' :'' %>">
      Users
    </a>
    <a href="/admin/categories" class="<%= path==='/categories' ? 'active' :'' %>">
      Categories
    </a>
    <a href="/admin/contacts" class="<%= path==='/contacts' ? 'active' : '' %>">
      Contacts
    </a>
    <% } %>
    <a href="/admin/comments" class="<%= path==='/comments' ? 'active' :'' %>">
      Comments
    </a>
  <div class="adminSearchBar"> <h3>Keyword: </h3>
    <form action="/admin/search" method="post" class="searchBar">
      <input type="search" class="searchInput" name="keyword">
      <input type="hidden" name="path" value="<%= path %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="searchButton" type="submit">Search</button>
    </form>
  </div>
</div>