<div class="admin-nav" id="admin-nav" style="display: flex;">
    <a href="/admin/posts" class="<%= path==='/posts' ? 'active' :'' %>">
      Posts
    </a>
    <% if(level>2) {%>
    <a href="/admin/users" class="<%= path==='/users' ? 'active' :'' %>">
      Users
    </a>
    <a href="/admin/categories" class="<%= path==='/categories' ? 'active' :'' %>">
      Categories
    </a>
    <a href="/admin/contacts" class="<%= path==='/contacts' ? 'active' : '' %>">
      Contacts
    </a>
    <% } %>
    <a href="/admin/comments" class="<%= path==='/comments' ? 'active' :'' %>">
      Comments
    </a>
  <div class="adminSearchBar"> <h3>Keyword: </h3>
    <div class="formSearch">
      <input type="search" oninput="searchType()" id="searchInput" class="searchInput" name="keyword">
      <a href="" class="searchButton" id="searchButton">Search</a>
    </div>
  </div>
</div>

<script>
  let path = document.getElementById('admin-nav').getElementsByClassName('active');
  let model = path[0].textContent.trim().toLowerCase();
  
  function searchType() {
    let keywords = document.getElementById('searchInput').value;
    if (keywords) {
      document.getElementById('searchButton').href = `/admin/search?model=${model}` + '&search=' + keywords;
    }
  }
</script>