<div class="comment-section blog-post-container">
  <div class="container">
    <div class="like-post">
      <h3>The Conversation <span class="total-comment"><%= post.comment ? post.comment.length : 'Not yet any' %> comment</span> </h3>
      <h4>Good post? Like it. ->
        <form action="/post/like" method="post" style="display: inline;">
          <input type="hidden" name="postId" value="<%= post._id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button style="cursor: pointer;" type="submit" title="Click me to send like">&#128150;</button>
        </form>
      </h4> 
    </div>
    <hr>
    <h4>Start a discussion, not a fire &#128293;. Comment with kindness.</h4>
    <img style="width: 300px;" 
    src="https://res.cloudinary.com/ddot3p3my/image/upload/v1690516691/resource/343752764_200215959459011_5839997412340766272_n.jpg_vjy0tc.jpg" 
    alt="">
    
    <% if(isAuthenticated) { %>
      <form class="comment-form" method="post" action="/post/new-comment">
        <div>
          <label class="write-comment" for="comment-text">Write a comment</label>
          <textarea id="comment-text" name="content" required></textarea>
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="postId" value="<%= post._id %>">
        <input type="hidden" name="slug" value="<%= post.slug %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="button-54">Post a new comment</button>
      </form>
    <% } %>
  <ul class="comment-list">
    <% for(let i=0; i< comments.length; i++) { %>
      <% const comment = comments[i]; %>
        <li>
          <div class="comment">
            <a class="list-link" href="/user/<%= comment.userId.name %>">
              <img src="<%= comment.userId.avatarUrl %>" alt="" class="comment-avatar">
            </a>
            <div class="comment-content">
              <a class="list-link comment-author-name" href="/user/<%= comment.userId.name %>"><%= comment.userId.name %></a>
              <span class="comment-time-posted"><%= comment.createdAt.toLocaleDateString('en-us',{
                year:'numeric',
                month:'long',
                day:'numeric',
              }); %></span>
              <p class="comment-text"><%= comment.content %></p>
              
              <% if(isAuthenticated) { %>
                <button class="reply-button">Reply</button>
                <form action="/post/reply-comment" class="comment-form reply-form" method="post" style="display:none;">
                  <div>
                    <label for="comment-text"> Write a reply</label>
                    <br>
                    <textarea id="comment-text" name="content" required></textarea>
                  </div>
                  <input type="hidden" name="parentCommentId" value="<%= comment._id %>">
                  <input type="hidden" name="userId" value="<%= userId %>">
                  <input type="hidden" name="postId" value="<%= post._id%>">
                  <input type="hidden" name="slug" value="<%= post.slug %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="reply-form-buttons">
                    <button type="submit" class="post-reply-button">Post Reply</button>
                    <button type="button" class="cancel-reply-button">Cancel</button>
                  </div>
                </form>
              <% } %>
            </div>
          </div>
            <% if (comment.childComment.length > 0) { %>
              <ul class="comment-reply-list">
                <% for(let j=0; j < comment.childComment.length; j++) { %>
                  <% const child = comment.childComment[j]; %>
                    <li>
                      <div class="comment">
                        <a class="list-link" href="/user/<%= child.userId.name %>">
                          <img src="<%= child.userId.avatarUrl %>" alt="" class="comment-avatar">
                        </a>
                        <div class="comment-content">
                          <a class="list-link comment-author-name" href="/user/<%= child.userId.name %>"><%= child.userId.name %></a>
                          <span class="comment-time-posted"><%= child.createdAt.toLocaleDateString('en-us',{
                            year:'numeric',
                            month:'long',
                            day:'numeric',
                          })%></span>
                          <p class="comment-text"><%= child.content %></p>
                        </div>
                      </div>
                    </li>
                <% } %>
              </ul> 
            <% } %>
        </li>
    <% } %>
  </ul>
  </div>
</div>

<script>
  // Khi người dùng nhấn nút reply
  var replyButtons = document.getElementsByClassName('reply-button');
  Array.from(replyButtons).forEach(function(replyButton) {
    var replyForm = replyButton.nextElementSibling;
    replyButton.addEventListener('click', function() {
      if (replyForm.style.display === 'none') {
        // Hiển thị form reply
        replyForm.style.display = 'block';
        
      } else {
        // Ẩn form reply
        replyForm.style.display = 'none';
      }
    });
  });

  // Khi người dùng nhấn nút cancel để đóng form reply
  var cancelButtons = document.getElementsByClassName('cancel-reply-button');
  Array.from(cancelButtons).forEach(function(cancelButton) {
    var replyForm = cancelButton.parentNode.parentNode;
    cancelButton.addEventListener('click', function() {
      replyForm.style.display = 'none';
    });
  });

</script>