<div class="comment-section blog-post-container">
  <div class="container">
    <div>
      <h3>The Conversation <span class="total-comment"><%= post.comment ? post.comment.length : 'Not yet any' %> comment</span> </h3>
      <h4>Good post? Like it. ->
        <form action="/post/like" method="post" style="display: inline;">
          <input type="hidden" name="postId" value="<%= post._id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button style="cursor: pointer;" type="submit" title="Click me to send like">&#128150;</button>
        </form>
      </h4> 
    </div>
    <hr>
    <h4>Start a discussion, not a fire &#128293;. Comment with kindness.</h4>
    <img style="width: 300px;" src="https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/343752764_200215959459011_5839997412340766272_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=dbeb18&_nc_ohc=KLaJJnVNdS4AX89mO0L&_nc_ht=scontent.fhan4-3.fna&oh=00_AfBnNZiHQGtpxkJcf-dZA-5KBLBd2HeoYx0tZR_05uimOg&oe=64C43F6B" alt="">
    
    <form class="comment-form" method="post" action="">
      <div>
        <label class="write-comment" for="comment-text">Write a comment</label>
        <textarea id="comment-text" name="comment" required></textarea>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="button-54">Post Comment</button>
    </form>

    <% if(post.comment) { %>
      <ul class="comment-list">
        <li>
          <div class="comment">
            <img src="https://previews.123rf.com/images/metelsky/metelsky1904/metelsky190400021/121859823-male-avatar-icon-or-portrait-handsome-young-man-face-with-beard-vector-illustration.jpg" class="comment-avatar">
            <div class="comment-content">
              <h5 class="comment-author-name">John Doe</h5>
              <span class="comment-time-posted">June 20, 2023</span>
              <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <button class="reply-button">Reply</button>

              <form class="comment-form reply-form" method="post" style="display:none;">
                <div>
                  <label for="comment-text"> Write a reply</label>
                  <br>
                  <textarea id="comment-text" name="comment" required></textarea>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="reply-form-buttons">
                  <button type="submit" class="post-reply-button">Post Reply</button>
                  <button type="button" class="cancel-reply-button">Cancel</button>
                </div>
              </form>

            </div>
          </div>
          <ul class="comment-reply-list">
            <li>
              <div class="comment">
                <img src="https://media.vanityfair.com/photos/54cbfe423c894ccb27c81fb3/master/w_2560%2Cc_limit/image.jpg" class="comment-avatar">
                <div class="comment-content">
                  <h5 class="comment-author-name">Jane Doe</h5>
                  <span class="comment-time-posted">June 21, 2023</span>
                  <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="comment">
                <img src="https://media.vanityfair.com/photos/54cbfe423c894ccb27c81fb3/master/w_2560%2Cc_limit/image.jpg" class="comment-avatar">
                <div class="comment-content">
                  <h5 class="comment-author-name">Jane Doe</h5>
                  <span class="comment-time-posted">June 21, 2023</span>
                  <p class="comment-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    <% } %>
  </div>
</div>

<script>
  // Khi người dùng nhấn nút reply
  var replyButtons = document.getElementsByClassName('reply-button');
  Array.from(replyButtons).forEach(function(replyButton) {
    var replyForm = replyButton.nextElementSibling;
    replyButton.addEventListener('click', function() {
      if (replyForm.style.display === 'none') {
        // Hiển thị form reply
        replyForm.style.display = 'block';
        
      } else {
        // Ẩn form reply
        replyForm.style.display = 'none';
      }
    });
  });

  // Khi người dùng nhấn nút cancel để đóng form reply
  var cancelButtons = document.getElementsByClassName('cancel-reply-button');
  Array.from(cancelButtons).forEach(function(cancelButton) {
    var replyForm = cancelButton.parentNode.parentNode;
    cancelButton.addEventListener('click', function() {
      replyForm.style.display = 'none';
    });
  });

</script>