<div class="pagination-container">
    <p>
      <% if(sum>10) { %>
        Viewing 10 of <span><%= sum %></span> entries.
      <% } else{ %>
        Viewing <%= sum %> of <span><%= sum %></span> entries.
        <% } %>
    </p>

    <section class="pagination">
      <% if(hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>">< pre</a>
      <% } %>
      <% if(currentPage!== 1 && previousPage !== 1) { %>
        <a href="?page=1">1</a>
      <% } %>
      <% if(currentPage >3) { %>
        ...
      <% } %>
      <% if(hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>"><%= previousPage %></a>
      <% } %>
      <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
      <% if(hasNextPage) { %>
        <a href="?page=<%= nextPage %>"><%= nextPage %></a>
      <% } %>
      <% if(lastPage >= nextPage+3) { %>
        ...  
      <% } %>
      <% if(lastPage != currentPage && lastPage != nextPage) { %>
        <a href="?page=<%= lastPage %>"><%= lastPage %></a>
      <% } %>
      <% if(hasNextPage) { %>
        <a href="?page=<%= nextPage %>">next ></a>
      <% } %>
    </section>
</div>