<%- include('../components/header.ejs') %>

<link rel="stylesheet" href="/css/noti.css">

</head>
  <%- include('../components/nav.ejs') %>
  
  <% if(error) { %>
    <%- include('../components/notification.ejs') %>
  <% } %>
    <!-- Featured articles -->
<section class="featured-articles section section-header-offset">
  <div class="featured-articles-container container d-grid">
    <div class="featured-content d-grid">
      <div class="headline-banner">
        <h3 class="headline fancy-border" style="background-color: var(--synthwave-gradient-color);">
          <span class="place-items-center">Hey there !</span>
        </h3>
        <span class="headline-description">First time come to this site or not. Enjoy your reading...</span>
      </div>

      <% for (let i = 0; i < 3; i++) { %>
        <% const post=posts[i]; %>
        <a href="/post/<%= post.slug%>" class="article featured-article featured-article-<%= i+1%>">
          <img
            src="<%= post.imageUrl%>"
            alt=""
            class="article-image"
          />
          <span class="article-category"><%= post.category[0].name%></span>

          <div class="article-data-container">
            <div class="article-data">
              <span><%= post.createdAt.toLocaleDateString('en-us',{year: 'numeric', month:'short', day:'numeric'}) %></span>
              <span class="article-data-spacer"></span>
              <span><%= post.like ? post.like.length : '0' %> likes.</span>
            </div>

            <h3 class="title article-title"><%= post.title %></h3>
          </div>
        </a>
    
      <% } %>
    </div>

    <div class="sidebar d-grid">
      <h3 class="title featured-content-title">Trending news</h3>
      <% for (let i=0; i< trendingPosts.length; i++) { %>
        <% const post=trendingPosts[i]; %>
          <a href="/post/<%= post.slug %>" class="trending-news-box">
            <div class="trending-news-img-box">
              <span class="trending-number place-items-center">0<%= i+1 %></span>
              <img
                src="<%= post.imageUrl %>"
                alt=""
                class="article-image"
              />
            </div>

            <div class="trending-news-data">
              <div class="article-data-sidebar">
                <span><%= post.createdAt.toLocaleDateString('en-us',{year: 'numeric', month: 'short', day:'numeric'}) %></span>
                <span class="article-data-spacer"></span>
                <span><%= post.like ? post.like.length : '0' %> likes.</span>
              </div>

              <h3 class="title article-title"><%= post.title %></h3>
            </div>
          </a>
      <% } %>
    </div>
  </div>
</section>

<!-- Older posts -->
<section class="older-posts section">
  <div class="container">
    <h2 class="title section-title" data-name="Older posts">Older posts</h2>

    <div class="older-posts-grid-wrapper d-grid">
      <% for(let i=3; i< posts.length;i++) { %>
        <% const post = posts[i]; %>
          <a href="/post/<%= post.slug %>" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
              <img
                src="<%= post.imageUrl %>"
                alt=""
                class="article-image"
              />
            </div>

            <div class="article-data-container">
              <div class="article-data">
                <span><%= post.createdAt.toLocaleDateString('en-us',{year: 'numeric', month: 'short', day: 'numeric'}) %></span>
                <span class="article-data-spacer"></span>
                <span><%= post.like ? post.like.length : '0' %> likes.</span>
              </div>

              <h3 class="title article-title"><%= post.title %></h3>
              <p class="article-description">
                <%= post.description %>
              </p>
            </div>
          </a>
      <% } %>
    </div>

    <div class="see-more-container">
      <a href="/archive" class="btn see-more-btn place-items-center">
        See more <i class="ri-arrow-right-s-line"></i>
      </a>
    </div>
  </div>
</section>

<!-- Popular tags -->
<section class="popular-tags section">
  <div class="container">
    <h2 class="title section-title" data-name="Popular tags">Popular tags</h2>

    <div class="popular-tags-container d-grid">
      <% for (const category of categories) { %>
        <a href="/categories/<%= category.slug %>" class="article">
          <span class="tag-name">#<%= category.name %></span>
          <img src="<%= category.imageUrl %>" alt="" class="article-image" />
        </a>
      <% } %> 
    </div>

    <div class="see-more-container">
      <a href="/categories" class="btn see-more-btn place-items-center">
        See more <i class="ri-arrow-right-s-line"></i>
      </a>
    </div>

  </div>
</section>

<!-- Newsletter -->
<section class="newsletter section"> 
  <div class="newsletter-container">
      <h2 class="title section-title" data-name="Newsletter">Newsletter</h2>
      <div class="form-container-inner">
          <h6 class="title newsletter-title">Subscribe to Synthwave</h6>
          <p class="newsletter-description">Just one click and you will receive notification about every new posts!</p>
          <form action="/subcribe" method="post" class="form from-xr">
              <input class="form-input" type="email" name="email" placeholder="Enter your email address" required>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn form-btn" type="submit">
                  <i class="ri-mail-send-line"></i>
              </button>
          </form>
      </div>
  </div>
</section>

<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>

</body>
</html>
