<%- include('../components/header.ejs') %>

    <link rel="stylesheet" href="/css/comment.css">
    
    <link rel="stylesheet" href="/css/quill.css">

</head>
  <%- include('../components/nav.ejs') %>
  
  <section class="blog-post section-header-offset">
    <div class="blog-post-container container">
        <div class="blog-post-data">
            <h3 class="title blog-post-title"><%= post.title %></h3>
            <br>
            <div class="article-data">
                <span>
                    <%= post.createdAt.toLocaleDateString('en-us',{
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                    }) %>
                </span>
                <span class="article-data-spacer"></span>
                <span><%= post.like %> likes.</span>
				<div class="post-tag">
					Tag: 
                    <% for (const cat of post.category) { %>
                        <a class="list-link" href="/categories/<%= cat.slug %>"><%= cat.name %></a>, 
                    <% } %>
				</div>
            </div>
            <img src="<%= post.imageUrl %>" alt="">
        </div>

        <div class="container">
            
            <div class="htmlContent">
                <%- html %>
            </div>

            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="<%= author.avatarUrl ? author.avatarUrl : 'https://i.stack.imgur.com/oBJxw.png' %>" alt="" class="article-image">
                </div>
                <div class="author-about">
                    <h3 class="author-name"><%= author.name %></h3>
                    <p><%= author.shortDes ? author.shortDes : 'None description.' %></p>
                    <ul class="list social-media">
                        <% if(author.social.length > 0) { %>
                            <% for (const media of author.social) { %>
                                <li class="list-item">
                                    <a href="http://<%= media.link %>" class="list-link"><i class="<%= media.icon%>"></i></a>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/comment.ejs') %>

<%- include('../components/footer.ejs') %>

</body>
</html>
