<%- include('../components/header.ejs') %>

<link rel="stylesheet" href="/css/noti.css">

</head>

<%- include('../components/nav.ejs') %>

  <% if(error) {%>
    <%- include('../components/notification.ejs') %>
  <% } %>

  <div class="section-header-offset custom-header">
      <small style="font-size: var(--font-size-xsm);">If sometimes it's not working properly. Please be sympathetic to me!</small>
      <h2 class="title section-title" data-name="<%= pageTitle %> "><%= pageTitle %></h2>
       <br>
      <h3>There is <%= sumResult %> result related to "<%= keyword %>" . . .<h3>
  </div>

<section class="older-posts section">
    <div class="container">
      <div class="older-posts-grid-wrapper d-grid">
        <% if(Array.isArray(posts) && posts.length>0) { %>
          <% for(let i=0;i<posts.length;i++) { %>
            <% const post = posts[i]; %>
            <a href="/post/<%= post.slug %>" class="article d-grid">
              <div class="older-posts-article-image-wrapper">
                <img
                  src="<%= post.imageUrl %>"
                  alt=""
                  class="article-image"
                />
              </div>
      
              <div class="article-data-container">
                <div class="article-data">
                  <span>
                    <%= new Date(post.createdAt).toLocaleDateString('en-us',{
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric' }) %>
                  </span>
                  <span class="article-data-spacer"></span>
                  <span><%= post.like ? post.like.length : '0' %> likes.</span>
                </div>
      
                <h3 class="title article-title"><%= post.title %></h3>
                <p class="article-description">
                  <%= post.description %>
                </p>
              </div>
            </a>
          <% } %>
        <% } %>
      </div>
    </div>
  </section>

<%- include('../components/footer.ejs') %>

<script src="/js/noti.js"></script>

</body>
</html>